:root {
  --drk-vi-timeline-border-radius: 12px;
  --drk-vi-timeline-color: rgba(255, 255, 255, 80%);
  --drk-vi-timeline-height: 6px;
  --drk-vi-timeline-progress-color: #00b9ae;
}

.drk-vi-timeline {
  grid-area: timeline;
  position: relative;
  height: var(--drk-vi-timeline-height, 6px);
  border-radius: var(--drk-vi-timeline-border-radius, 12px);
  overflow: hidden;
  background-color: var(--drk-vi-timeline-color, rgba(255, 255, 255, 80%));
  pointer-events: all;
  cursor: pointer;

  &__thumb {
    display: none;
  }

  &__track.drk-vi-timeline__track-0 {
    width: auto;
    height: 100%;
    background-color: var(--drk-vi-timeline-progress-color, #00b9ae);
    border-radius: var(--drk-vi-timeline-border-radius, 12px);
  }
}
