[tabindex] {
  &:before {
    content: '';
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    border: 3px dashed transparent;
    border-radius: 6px;
    pointer-events: none;
    transition: all 0.4s;
  }
}

[tabindex]:focus {
  position: relative;
  outline: none;

  &:before {
    content: '';
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    border: 3px dashed #00b9ae;
    border-radius: 6px;

    transition: all 0.4s;
  }
}
