@use '../../../public/scss/components/tooltip';

:host {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  grid-area: play;
  pointer-events: all;
  cursor: pointer;
}

.drk-vi-play {
  &__icon {
    position: absolute;
    transition: all 0.25s ease-in;

    &:hover, &:active {
      transition: all 0.25s ease-in;
      transform: scale(1.2);
    }
  }
}
