.drk-vi-fullscreen {
  grid-area: fullscreen;

  position: relative;
  display: inline-block;
  align-self: flex-end;
  width: 22px;
  height: 22px;
  cursor: pointer;
  pointer-events: all;

  &__icon {
    position: absolute;
    transition: all 0.25s ease-in;

    &:hover, &:active {
      transition: all 0.25s ease-in;
      transform: scale(1.2);
    }
  }
}
