:root {
  --drk-vi-loader-stroke: 3px;
  --drk-vi-loader-width: 30px;
  --drk-vi-loader-height: 30px;
  --drk-vi-loader-position: absolute;
  --drk-vi-loader-primary-color: #00b9ae;
  --drk-vi-loader-secondary-color: rgba(255, 255, 255, 80%);
}

.drk-vi-loader {
  grid-area: loader;
  width: var(--drk-vi-loader-width);
  height: var(--drk-vi-loader-height);

  position: var(--drk-vi-loader-position);
  top: 50%;
  left: 50%;

  border-radius: 50%;
  border-top: var(--drk-vi-loader-stroke) solid var(--drk-vi-loader-secondary-color);
  border-right: var(--drk-vi-loader-stroke) solid var(--drk-vi-loader-secondary-color);
  border-bottom: var(--drk-vi-loader-stroke) solid var(--drk-vi-loader-secondary-color);
  border-left: var(--drk-vi-loader-stroke) solid var(--drk-vi-loader-primary-color);
  transform: translate(-50%, -50%, 0);
  animation: spinner-animation 1.75s infinite linear;
}

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
