@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:host {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.drk-vi-player {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
  border-radius: var(--drkvi-player-border-radius, 12px);
  background: black;
  aspect-ratio: var(--drkvi-player-aspect-ratio, 16 / 9);
  font-family: var(--drk-vi-player-font, 'Karla', sans-serif);

  &__media {
    font-size: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: contain;
  }

  &__layout {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    align-items: center;
    box-sizing: border-box;
    z-index: 1;

    padding: var(--drkvi-player-padding, min(3.33%, 22px));
    pointer-events: none;
  }
}
