:host {
  grid-area: poster;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background: var(--drk-vi-poster-background, #0a0a0a);
  pointer-events: all;
  cursor: pointer;
  transition: visibility ease-in-out 400ms, opacity ease-in-out 400ms;

  ::slotted(img) {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.drk-vi-poster {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: all ease-in-out 400ms;

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;

    opacity: 0.85;
    transition: all ease-in-out 400ms;

    &:hover {
      opacity: 1;
      transition: all ease-in-out 400ms;
    }
  }
}
