$popover-font-family: Gordita, Avenir, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !default;
$popover-font-size: 14px;
$popover-color: #0a0a0a;
$popover-background: #e6e6e6;
$popover-border-radius: 6px;
$popover-padding: 6px;
$popover-min-width: 186px;

.drk-vi-popover {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: var(--popover-min-width, $popover-min-width);

  padding: var(--drk-vi-popover-padding, $popover-padding);
  border-radius: var(--drk-vi-popover-border-radius, $popover-border-radius);
  background: var(--drk-vi-popover-background, $popover-background);
  color: var(--drk-vi-popover-color, $popover-color);
  box-sizing: border-box;

  font-size: var(--drk-vi-popover-font-size, $popover-font-size);
  font-family: var(--drk-vi-popover-font-family, $popover-font-family);
  z-index: 2;

  visibility: hidden;
  opacity: 0;
  transform: scale(0.1);
  transform-origin: bottom center;
  transition: all 0.2s;

  &--open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: all 0.2s;
  }
}
