$tooltip-font-family: Gordita, Avenir, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !default;
$tooltip-font-size: 12px;
$tooltip-color: white;
$tooltip-background: rgba(0, 0, 0, 90%);
$tooltip-border-radius: 6px;
$tooltip-padding: 6px;

.drk-vi-tooltip {
  position: absolute;
  padding: var(--drk-vi-tooltip-padding, $tooltip-padding);
  border-radius: var(--drk-vi-tooltip-border-radius, $tooltip-border-radius);
  background: var(--drk-vi-tooltip-background, $tooltip-background);
  color: var(--drk-vi-tooltip-color, $tooltip-color);
  box-sizing: border-box;

  font-size: var(--drk-vi-tooltip-font-size, $tooltip-font-size);
  font-family: var(--drk-vi-tooltip-font-family, $tooltip-font-family);
  text-align: center;

  visibility: hidden;
  opacity: 0;
  transform: scale(0.1);
  transform-origin: bottom center;
  transition: all 0.2s;

  &--open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: all 0.2s;
  }
}
