:host {
  grid-area: settings;
  align-self: center;

  position: relative;
  display: inline-block;

  width: 24px;
  height: 24px;

  cursor: pointer;
  pointer-events: all;
}

.drk-vi-settings {
  &__icon {
    position: absolute;
    transition: all 0.25s ease-in;

    &:hover, &:active {
      transform: rotate(90deg) scale(1.2);
      transition: all 0.25s ease-in;
    }
  }
}
